.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-bottom: 96px;
  padding-left: 0px;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  position: sticky;
  background: #2474e0;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 16px;
}
.link__tc8Rx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___2PyEw {
  object-fit: cover;
  height: 40px;
}
.img___2PyEw > picture > img {
  object-fit: cover;
}
.img___2PyEw > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__otIfB {
  object-fit: cover;
}
.img__otIfB > picture > img {
  object-fit: cover;
}
.img__otIfB > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__nErrY {
  object-fit: cover;
}
.img__nErrY > picture > img {
  object-fit: cover;
}
.img__nErrY > .__wab_img-spacer > img {
  object-fit: cover;
}
.link___6OpTw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.link___76Bzc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.link___4Kbw0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.freeBox___5Qyk9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#000000bf, #000000bf),
    url("https://images.unsplash.com/3/doctype-hi-res.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1346&q=80")
      left 50% top 50% / cover repeat;
  min-width: 0;
  padding: 128px 32px;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__nHnUj {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__nHnUj > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nHnUj > :global(.__wab_flex-container) > *,
.freeBox__nHnUj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nHnUj > :global(.__wab_flex-container) > picture > img,
.freeBox__nHnUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__jv5A0 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #ffffffd9;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__vOfrs {
  font-size: 20px;
  color: #ffffff80;
  text-align: center;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__idpTk {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__idpTk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__idpTk > :global(.__wab_flex-container) > *,
.freeBox__idpTk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__idpTk > :global(.__wab_flex-container) > picture > img,
.freeBox__idpTk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__qpvGv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__cMr {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qeOu4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uG0XO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___0AtSm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__uesrO {
  color: #ffffffd9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__tlpbr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ebR8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__xrEcu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1000px;
  min-width: 0;
  padding: 8px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  min-width: 0;
}
.h4__c8Zbu {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  min-width: 0;
}
.h4__zgE96 {
  position: relative;
  width: 100%;
  height: auto;
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.freeBox__x1V2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.cmsDataLoader:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  position: relative;
  min-width: 0;
}
.freeBox__pgOdk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 695px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 8px;
}
.cmsEntryField__rp47A:global(.__wab_instance) {
  max-width: 100%;
}
.cmsEntryField___1Ka4:global(.__wab_instance) {
  max-width: 100%;
}
.cmsEntryField__eurH:global(.__wab_instance) {
  max-width: 100%;
  width: 359px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}
.text__ufr8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___3P8S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__slZuW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: absolute;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  left: -3px;
  top: 347px;
  overflow: auto;
  box-shadow: 0px 4px 16px 0px #00000033;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fmNfd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__bcGkg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vlMa0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__xmYsp {
  position: relative;
}
.htmlVideo:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  margin-right: 7px;
  display: block;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.freeBox__tWpA2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 80px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tWpA2 {
    margin-top: calc(468px + 0px) !important;
  }
}
.slider__n9RN9:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__sB9B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__d5UD {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.img__d5UD > picture > img {
  object-fit: cover;
}
.img__d5UD > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__ulhJj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  text-align: left;
  min-width: 0;
}
.freeBox__mEhY3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__q3E02 {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.img__q3E02 > picture > img {
  object-fit: cover;
}
.img__q3E02 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___91ObI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  text-align: left;
  min-width: 0;
}
.freeBox___5CRts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__r1WlH {
  object-fit: cover;
  max-width: 100%;
  height: 200px;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.img__r1WlH > picture > img {
  object-fit: cover;
}
.img__r1WlH > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__ny9Eq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 30px;
  text-align: left;
  min-width: 0;
}
.freeBox__rtIpU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
  height: auto;
  max-width: 100%;
  margin-bottom: 80px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rtIpU {
    margin-top: calc(468px + 0px) !important;
  }
}
.slider__gf4Px:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__ek7HR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__y8VkY {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 30px;
  text-align: center;
  min-width: 0;
}
.freeBox__kcYSs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__zq0Fv {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 30px;
  text-align: center;
  min-width: 0;
}
.freeBox__mEhY3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___91ObI {
  position: relative;
  height: auto;
  font-size: 30px;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.freeBox___5CRts {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ny9Eq {
  position: relative;
  height: auto;
  font-size: 30px;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.freeBox__jxuot {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  max-width: 100%;
  margin-bottom: 80px;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jxuot {
    margin-top: calc(468px + 0px) !important;
  }
}
.slider___6MT6O:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
}
.freeBox__miUXq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background: url("/plasmic/frontend/images/image.jpeg") top 50% left 50% / cover repeat;
  height: 500px;
  min-width: 0;
  padding: 50px 50px 109px;
}
.h1__ejQkG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__kcYSs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
  max-width: 100%;
  background: url("/plasmic/frontend/images/image3.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 50px;
}
.h1__yfyno {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__psnw3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
  max-width: 100%;
  background: url("/plasmic/frontend/images/image4.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 50px;
}
.h1__otTjk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__lbcsg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
  max-width: 100%;
  background: url("/plasmic/frontend/images/image2.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 50px;
}
.h1__qFpaG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
